* {
  padding: 0;
  margin: 0;
  /*设置文字缩放 防止在移动端横竖屏切换之后，文字可能会缩放*/
  -webkit-text-size-adjust: 100%;
  font-family: 'Helvetica';
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.wrap {
  height: 100%;
  overflow: auto;
}
#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.headerC {
  height: 2rem;
}
#logo {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem;
}
#logo img {
  width: 3.55555556rem;
}
#logo a {
  display: block;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url("../img/menuBtn.png") no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtnClose {
  background-position: center 0.23703704rem !important;
}
.menuBtnShow {
  background-position: center -1.77777778rem !important;
}
#btns {
  float: right;
  padding-top: 0.31111111rem;
}
#btns a {
  float: left;
  margin-right: 0.22222222rem;
  width: 1.64444444rem;
  line-height: 1.15555556rem;
  text-align: center;
  border-radius: 3px;
  color: #cccccc;
  background-color: #669900;
  font-size: 0.62222222rem;
}
#btns .searchBtn {
  font-weight: bold;
  color: #cccccc;
  margin-right: 0.44444444rem;
  width: 1.92592593rem;
  border-radius: 3px;
}
/*显示菜单*/
.channel_panel {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.channel_panel_wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.channel_panel_wrapper {
  line-height: 1.1rem;
}
.channel_panel_wrapper ul {
  height: auto;
  position: relative;
  display: block;
}
.channel_panel_wrapper li {
  float: left;
  position: relative;
  width: 3.6rem;
  height: 1.92592593rem;
  line-height: 1.92592593rem;
  text-align: center;
}
.channel_panel_wrapper li a {
  font-size: 0.8rem;
  padding: 0.5rem 0.2rem;
  text-align: center;
  color: #ffffff;
}
