<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/vue.js"></script>
</head>
<body>
<!--<div class="box">-->
    <!--<input type="text" v-model="msg"/>-->
    <!--<br/>-->
    <!--{{msg}}-->
    <!--{{msg2}}-->
    <!--{{msg3}}-->
<!--</div>-->
<div class="box">
    <ul>
        <!--<li v-for="value in msg3">{{$index}}{{value}}</li>-->
    </ul>
    <hr>
    <ul>
        <li v-for="value in msg3">{{$key}}-{{value}}</li>

    </ul>
    <hr>
    <ul>
        <li v-for="(k,v) in msg4">{{k}}-{{v}}</li>
    </ul>

    <input type="button" value="按钮" v-on:click="show()"/>
</div>



<script>
    window.onload= function () {
        var c=new Vue({
            el:'.box',
            data:{
                msg:'welcome hello',
                msg2:12,
                msg3:['pear','apple','banana'],
                msg4:{'a':'apple','b':'pear','c':'bull'}
            },
            methods:{
                show: function () {
                   this.msg3.push('林三');
                }
            }
        });
    }
</script>
</body>
</html>