<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/vue.js"></script>
    <script>
        window.onload=function(){
            Vue.directive('red',function(){
                this.el.style.background='red';
            })
            Vue.filter('toDou',function(input,a,b){
                //alert(a+'=='+b);
                return input<10?'0'+input:''+input;
            })
            Vue.filter('date', function (input) {
                 var odate=new Date(input);
                 return odate.getFullYear()+'年'+(odate.getMonth()+1)+'月'+odate.getDate()+'日';
            })

           var vm= new Vue({
                el:'body',
                data:{
                    msg:[1,2,3,4,5],
                    msg2:['abc','ccc','cgr','ipipu'],
                    a:'',
                    b:'123',
                    times:Date.now(),
                    setColor:'aaa',
                },
            })

        }
    </script>
</head>
<body>
<input type="text" v-model="a"/>
<ul>
    <!--限制输出的条数-->
    <!--<li v-for="value in msg | limitBy 3 0">{{value}}</li>-->
    <!--参数过滤  这个a就是v-model里面的a是个变量-->
    <!--<li v-for="value in msg2 | filterBy a">{{value}}</li>-->
    <!--排序 1为正序 -1位倒序  orderBy xx  xx为排序条件-->
    <!--<li v-for="value in msg2 | orderBy -1">{{value}}</li>-->
    <!--自定义过滤器-->
</ul>
<div id="box">
    <input type="text" v-model="b"/>
    <!--自定义过滤器-->
    {{b | toDou 1 2}}
    <br/>
    {{times | date}}
    <br/>
    <span v-red>{{setColor}}</span>
</div>
</body>
</html>